
 <!--form handeling-->

 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
      <div class="form-group">
          <label for="name" class="dark">Name</label>
          <input type="hidden" name="id" value="">
          <input type="text" name="name" value="" placeholder="Mark Zuckerberg">
      </div>
      <div class="form-group">
          <label for="Email" class="text-dark">Name</label>
         
          <input type="text" name="email" value="" placeholder="Example@gmail.com">
      </div>
      <div class="form-group">
          <label for="Insurance" class="text-dark">Insurance</label>
         
          <input type="text" name="insurance" value="" placeholder="Assuria">
      </div>
      <div class="form-group">
          <label for="Status" class="text-dark">Status</label>
         
          <input type="text" name="status" value="" placeholder="Postive/Negatice">
      </div>
      <div class="form-group">
          <label for="Doctor" class="text-dark">Doctor</label>
         
          <input type="text" name="doctor" value="" placeholder="Doctor Banner">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
  </div>
  </form>

  <!--/form handeling-->